.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: cadetblue;
    padding-bottom: 3%;
}
.linea{
    height: 2%;
    width: 35%;
    background-color: brown;
}
.container__img{
    margin-top: 4%;
}
img{
    border-radius: 3%;
}
.container__info{
    margin-top: 2%;
}
.container__info-data{
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
    border: solid 1px brown;
}
button{
    padding: 1%;
    background-color: brown;
    border-radius: 6px;
}